.histogram{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
    background-color: #F5F5F5;

}

.hist-title{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: 600;
    color: #3B5350;
}

.chart-title{
text-align: left !important;
}