.receipts{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    position: relative;
    padding: 1px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.receipt-title{
    /* background-color: brown; */
    height: 30px;
    margin-bottom: 25px;
}

.receipt-title h3{
    margin-bottom: -10px;
    color: #3B5350;
    font-size: 17px;
}

.receipt-title p{
    font-size: 14px;
    color: #3F5756;
    

}

.receipt-table{
    /* background-color: blue; */
    font-size: 14px;
    
}

.receipt-table table{
    /* background-color: pink; */
    width: 100%;

}

thead{
    /* background-color: aquamarine; */
    width: 100%;
   
    
}

thead tr{
    
}



thead tr th{
    padding-bottom: 10px;
    border-bottom: 3px dotted #D9E3E2;
    font-weight: 600;
    color: #3F5756;

}

tbody{
    /* background-color: red; */
}

tbody tr{
    
    /* background-color: coral; */
    height: 100%;

    
}

td{
    /* padding: 10px 0px; */
   text-align: center;
   /* background-color: blue; */
   height: 100%;
   color: #3F5756;
   
  
}

td.above{
    border-bottom: 3px dotted #D9E3E2;
}

.member-profile{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.member-profile img{
height: 45px;
width: 45px;
border-radius: 50%;
object-fit: cover;
margin-right: 10px;
}

.member-name{
    /* background-color: aqua; */
    line-height: 10px;
    text-align: left;
    font-size: 14px;
}

.main-name{
    border-bottom: 2px;
    font-weight: 600;
    color: #3B5350;
}

.small-name{
    font-size: 13px;
    color: #3F5756;
}

.member-name p{

}
tr.member-box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-circle{
    height: 35px;
    width: 35px;
    background-color:#BE953C ;
    font-weight: 600;
    color: #D9E3E2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}