.sidebar{
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile{
    background-color: #3B5350;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-text{
    line-height: 2px;
  color: #D9E3E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.name{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.email{
    font-size: 14px;
}
.dp{

    width: 80px;
    height: 80px;
    /* border-radius: 50%; */
}

.dp img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;

}



.users{
    background-color: blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: center;
    align-items: center;
    
}

.circles{
position: relative;
    display: flex;

    width: 220px;
    height: 60px;
}

.circle{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.circle img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;

}

/* .circle:nth-child(1){
    left: 50;
} */
.circle:nth-child(2){
    left: 40px;
}
.circle:nth-child(3){
    left: 80px;
}
.circle:nth-child(4){
    left: 120px;
}
.circle:nth-child(5){
    left: 160px;
}

.map{
    height: 10%;
}





