.App {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left{
  background-color: pink;
  width: 25%;
  height: 100%;
}

.right{
  background-color: red;
  width: 75%;
  height: 100%;
}

